@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Gym!</h1>
    <p><img src="http://ptrenew.com/wp-content/uploads/icon_strength-training.png"
     alt="Cheetah!" /></p>
</div>
